/* style.css */

.major-container {
    background-image: url("image/Beer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 640px;
    padding-right: 10%;
    padding-top: 2%;
}
.Navigation-bar {
    display: flex;
    justify-content: space-between;
    color: brown;
}

.Navigation-list ul {
    display: flex;
}

.Navigation-list ul li{
    list-style-type: none;
    width: 80px;
}

ul {
    margin-left: 22%;
}

button {
    border-style: none;
    border-radius: 3cap;
    color: white;
    margin-top: 5%;
    background-color: brown;
}

.major-body-holder {
    display: flex;
    margin-top: 7%;
    margin-left: 8%;
}

.body-container {
    width: 50%;
}

.uppercase-words {
    width: 40%;
}

.sub-container {
    height: 60px;
    width: 240px;
    border: 3px solid red;
    padding-left: 3%;
    padding-top: 3%;
    border-style: dotted;
    border-radius: 2ch;
}

img {
    height: auto;
    width: 30px;
}

#signature {
    margin-left: 80%;
}